body {
  font-family: "Muli", sans-serif;
}

.nav-wrapper {
  box-shadow: 5px 5px 5px #eee;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff;
}

.logo {
  font-size: 22px;
  color: #041122;
  font-weight: 800;
  text-transform: uppercase;
}

.icon {
  font-size: 26px;
  color: #52575d;
  margin-right: 14px;
}

.navigation {
  font-size: 15px;
  font-weight: 600;
  padding-top: 5px;
}

.navigation-link {
  color: #52575d;
  text-decoration: none;
  margin-right: 30px;
}

.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus {
  color: #f72464;
  text-decoration: none;
}

.cart {
  padding-top: 5px;
  color: #52575d;
}

.header {
  height: 700px;
  display: flex;
  align-items: center;
}

.header-bg {
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 100%;
  left: 45%;
  top: 0;
  overflow: hidden;
  background-image: url("../img/nike.jpg");
  background-repeat: no-repeat;
  background-position: left top;
  z-index: -1;
}

.header-content {
  position: relative;
  width: 750px;
}

.header .container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-title {
  color: #222;
  font-size: 80px;
  font-family: "Lora", serif;
  line-height: 1.25;
  margin-bottom: 25px;
}

.header-description {
  color: #52575d;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 50px;
}

.header-button {
  background-color: #f72464;
  font-size: 20px;
  color: #fff;
  font-family: "Lora", serif;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 14px;
  line-height: 1;
  height: 50px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.3);
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.header-button:hover {
  background-color: #da0f4d;
  text-decoration: none;
  color: #fff;
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.5);
}

.title {
  font-size: 35px;
  color: #222;
  font-family: "Lora", serif;
  margin-bottom: 10px;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 12px;
  color: #919191;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 90px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

hr {
  border: none;
  border-top: 1px solid #e3e3e3;
  margin-top: 100px;
}

.card {
  font-family: "Lora", serif;
  text-align: center;
  margin-bottom: 50px;
}

.card-image {
  margin-bottom: 20px;
}

.card-title {
  color: #222;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 400;
}

.card-price {
  font-size: 13px;
  color: #f72464;
  font-weight: 600;
}

.card-price span {
  color: #838b8f;
  text-decoration: line-through;
  margin-right: 5px;
}

.button-outline {
  border-width: 1px;
  border-color: rgb(247, 36, 100);
  border-style: solid;
  border-radius: 3px;
  height: 38px;
  font-size: 14px;
  font-family: "Lora", serif;
  text-transform: uppercase;
  color: rgb(145, 145, 145);
  line-height: 1;
  padding-top: 12px;
  width: 220px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.button-outline:hover {
  border-color: rgb(247, 36, 100);
  background-color: rgb(247, 36, 100);
  color: #fff;
  text-decoration: none;
}

.adv-wrapper {
  height: 185px;
  width: 100%;
  background-image: url("../img/advshoes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.adv-title {
  font-size: 50px;
  font-family: "Lora", serif;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-shadow: 2px 2px 8px #000000;
}

.content-center {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.card-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* .adv-button {
  border-radius: 3px;
  background-color: rgb(247, 36, 100);
  box-shadow: 0px 5px 30px 0px rgba(31, 35, 37, 0.25);
  height: 60px;
  line-height: 1;
  color: #fff;
  font-size: 22px;
  font-family: "Lora", serif;
  padding: 15px 60px;
  text-decoration: none;
}

.adv-button:hover {
  color: #fff;
  text-decoration: none;
} */
